<form [formGroup]="form" (keydown)="defultAction($event)" (ngSubmit)="login()">
  <div fxLayoutAlign="center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dawn</mat-card-title>
        <mat-card-subtitle>請登入</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" tabindex="1" placeholder="Account" formControlName="Account" autofocus>
          <button mat-button *ngIf="form.value.Account" tabindex="-1" matSuffix mat-icon-button aria-label="Clear" (click)="form.patchValue({Account:''})">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput type="password" tabindex="2" placeholder="Password" formControlName="Password">
          <button mat-button *ngIf="form.value.Password" tabindex="-1" matSuffix mat-icon-button aria-label="Clear" (click)="form.patchValue({Password:''})">
              <mat-icon>close</mat-icon>
            </button>  
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" tabindex="3" color="primary">登入</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>